@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body  { 
    padding: 0;margin: 0; 
    background-color:#2696c9;
 }


.cabecera {
    color: #5084d4;
    background-color: #c7d7f0;
}
.navbar {
    padding: 30px;
}
.navbar-brand {
    color: #5084d4;
}
header {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.link {
    text-decoration: none;
    color: #5084d4;
}
.intro {
    color: #d8e1f0;
    background-color: #5084d4;
    
    padding: 90px;
    font-size: 20px;
}
.imgintro:hover {
padding: 24px;
width: 60%;
transition: 2s;
}
.local1 {
    background-color: #b3c7e8;
    text-align: center;
    font-size: 25px;
    padding: 170px;
}
.local1:hover {
font-size: 200%;
transition: 2s;
}
.pie {
    color: #5084d4;
    background-color: #c7d7f0;
}
.menu {
    padding-top: 20px;
    color: #5084d4;
}
.lista {
    display: inline;
    font-family: 'Roboto Mono', monospace;
  list-style-type: none;
  margin: 15px;
}
footer {
    background-color: aliceblue;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #2696c9;
}
@media screen and (max-width: 690px) {
    .cabecera {
        font-size: 15px;
        margin: 5px;
        padding: 27px;
    }
    .intro {
        font-size: 19px;
    }
    .imgintro {
        width: 240px;
    }
    .local1 {
        font-size: 15px;
    }
    .pie {
        font-size: 15px;
    }
}
 .head {
    
 }
 .pantaloness {
    display: flex;
    background-color: #5084d4;
    padding: 20px;
    margin: 10px;
 }
 .pantalon1 {
    text-align: center;
    padding: 10px;
    background-color: #b3c7e8;
    margin: 6px;
    box-shadow: 3px 2px;
    width: 100%;
 }
 .pantalon1:hover {
    cursor: pointer;
    padding: 12%;
    transition: 1s;
 }
 .imgpant {
    width: 240px;
    height: 280px;
 }
.ofert {
    text-align: center;
    background-color: #5084d4;
    color:#b3c7e8 ;
    font-size: 40px;
}
.foter {
}
@media screen and (max-width: 1570px)
{
    .pantaloness {
        display: flex;
        flex-direction: column;
}
.pantalon1 {
    width: auto;
    font-size: 20px;
}
.imgpant {
    width: 140px;
    height: 150px;
}
.ofert {
    font-size: 21px;
}
.imgofertas {
    width: 117px;
    height: 100px;
}
.pie {
    font-size: 20px;
}
}
@media screen and (min-width: 992px) {
    .ofert {
        font-size: 30px;
    }
    .pie {
        font-size: 30px;
    }
    .intro {
        font-size: 25px;
        padding: 140px;
    }
    

}
@media screen and (min-width: 1043px) {
    
    .local1 {
        padding: 180px;
    }

}
@media screen and (min-width: 1213px) {
    
    .local1 {
        padding: 188px;
    }

}
 .formulario  {
padding: 10px;
color: white;
background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
url(../imagenes/formularios.jpg) ;


border-radius: 5%;
image-resolution: calc;
image-resolution: opacity: 5%;

  }
  .imgcard {
    width: 70%;
    opacity: 40%;
    border-radius: 5%;
}
.form {
  image-resolution: opacity: 5%;
    list-style-image: ;
}
