.imgintro {
	&:hover {
		padding: 24px;
		width: 60%;
		transition: 2s;
	}
}
.local {
	background-color: #b3c7e8;
	text-align: center;
	font-size: 20px;
	padding: 170px;
	&:hover {
		font-size: 200%;
		transition: 2s;
	}
    .pantaloness {
        display: flex;
        background-color: #5084d4;
        padding: 20px;
        margin: 10px;
    }
    .pantalon1 {
        text-align: center;
        padding: 10px;
        background-color: #b3c7e8;
        margin: 6px;
        box-shadow: 3px 2px;
        width: 100%;
        &:hover {
            cursor: pointer;
            padding: 12%;
            transition: 1s;
        }
    }
    .imgpant {
        width: 240px;
        height: 280px;
    }
    .ofert {
        text-align: center;
        background-color: #5084d4;
        color: #b3c7e8;
        font-size: 40px;
    }
    .formulario {
        background-color: #5084d4;
        padding: 10px;
        color: #d8e1f0;
    }
}